html {
    font-size: 50px;
}
* {
    box-sizing: border-box;
}
body {
	font-family: 'Fasthand', cursive;
	margin: 0;
	padding: 0;
    margin-bottom: 90px;
}
header {
    padding: 20px;
    height: 50vh;
    background-image: url("./../img/header_vinyl4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main {
    background-color: rgb(179, 179, 179);
}
footer {
	background-color: rgb(159, 159, 159);
	padding: 3px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer a {
    text-decoration: none;
    color: white;
	margin-left: 750px;
}
nav li {
    border: 0.3px solid black;
    padding: 10px;
    border-radius: 20px;
    border-color: #000000;
    background-color: rgba(1, 2, 2, 0.5);
	display: inline-block;
	margin-right: 20px;
}
nav a {
	color: #ffffff;
	text-decoration: none;
}
nav a:hover {
	color: #000000;
}
.tituloheader {
    width: 100%;
    margin-top: -5%;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}
.colgrupos {
    width: 100%;
}
.titulogrupospop {
    text-align: center;
    font-size: 1rem;
}
.column-4 {
    width: 25%;
    padding: 20px;
    box-shadow: 0 0 20px rgba(179, 179, 179, 0.6);
    transition: 1s;
}
.column-4-1 {
    width: 23%;
    padding: 20px;
    margin: 10px;
}
.column-4:hover {
    transform:scale(1.1);
    z-index: 2;
    border-radius: 20px;
}
.widthimggrupospop {
    width: 100%;
    border: 0.3px solid black;
    border-radius: 20px;
    border-color: #000000;
}
.formulario {
    text-align: center;
}
.tituloheadercontacto {
    width: 100%;
    margin-top: -5%;
    text-align: center;
    font-size: 3rem;
    color: #000000;
}
.textocontacto {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #353535;
}
.margindatoscontacto {
    margin-top: 10px;
}
.column-2 {
    width: 50%;
    padding: 20px;
}
.center-footer-a{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}