html {
    font-size: 50px;
}
* {
    box-sizing: border-box;
}
body {
	font-family: 'Fasthand', cursive;
	margin: 0;
	padding: 0;
}
header {
	color: #000000;
    padding: 20px;
    background-image: url(./../img/header_vinyl3.png);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0;
}
header h1 {
    background-color: rgba(1, 2, 2, 0.5);
    border: 5px solid black;
    border-radius: 50px;
    border-color: #000000;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    width: 500px;
    height: 150px;
}
header p {
    margin-top: -20px;
}
nav ul {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

nav a:hover {
	color: #807f7f;
}